@model GetFit.Domain.Models.Workout

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="tableContainer">
    <a asp-action="AddExcercisesToWorkout" asp-route-objectId="@Model.Id">Add or remove excercises</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Description
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var excercise in Model.Excercises)
            {
                <tr class="tableRow">
                    <td class="excerciseName">
                        @Html.DisplayFor(modelItem => excercise.Name)
                    </td>
                    <td class="excerciseCategory">
                        @Html.DisplayFor(modelitem => excercise.Category)
                    </td>
                    <td class="excerciseDescription">
                        @Html.DisplayFor(modelItem => excercise.Description)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
