@{
    ViewData["Title"] = "Home Page";
}

<section id="indexIntro" class="indexIntro">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-sm-12 col-md-6">
                <h1>GetFit</h1>
                <hr>
                <p class="lead">Make it easy for yourself
                    to reach your goals!
                </p>
                
               
               
            </div>
        </div>
    </div>
</section>
